<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>Esqueci a Senha </title>
</head>
 <style>
color1 {color: #121d14;} .color2 {color: #42514a;} .color3 {color: #5a5452;} .color4 {color: #949590;} .color5 {color: #dfded4;}
</style>
<body style="background-color: #121d14;">
     <div class="container d-flex justify-content-center align-items-center vh-100" >
        <div class="row ">            
            <div class="col">
                <div class="text-center text-light rounded-3 " style="background-color: #949590;">
                    <h2 class="mb-3 mx-3 p-2 " style="font-family:Arial, Helvetica, sans-serif; font-size: 40px;">Encontre sua conta</h2>
                    <form action="" method="post">
                        <div class="mb-3 mx-5">
                            <label class="form-label" for="emailR">Insira seu email de cadastro</label>
                            <input type="email" name="emailR" id="emailR" class="form-control" placeholder="user@exemple.com" style="color: #949590;">
                        </div>                      
                        <button type="submit" class="btn mb-3" style=" background-color: #42514a;" >Buscar</button><br>                        
                    </form>
                </div>
            </div>            

        </div>
      

    </div>


</body>
</html>